*
{
    box-sizing: border-box;
}


main
{
    border: solid red 2px;
    width: 1920px;
    height: 1000px;

 
}

header
{
    margin-top:7%;
    margin-left: 4%;
}

h1
{
   
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);
    padding-left: 20px;
    padding-right: 20px;
}

h2
{
   margin-top: 5%;
   margin-left:15%;
   font-size: large;
   opacity: 0.7;
   font-family: 'Courier New', Courier, monospace;
}

.Line
{
    display:inline-block;
    vertical-align: middle;

}


.borderItem
{
    border-bottom: solid grey 5px;
    width: 30%;
}


header>div:first-child
{
    margin-left:7.5%

}

.formFrame
{
    margin-top: 5%;
    border: solid black 2px;
    width: 50%;
    height:85%;
    margin-left: 25%;
    background-color: rgb(248, 246, 241);
}

.FS
{

    text-align: left;
    margin-top:5%;
    margin-left: 18%;
}

.fieldDesign
{
    padding: 15px 10px;
    font-size: large;
    margin-right: 9%;
   
}

.fieldDesign2
{
    width: 80%;
}

.buttonOnForm
{
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
    font-size: x-large;
    background-color: rgb(19, 124, 24);
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.linksType1
{
    text-decoration: none;
    color: yellowgreen;
    font-style: italic;
}

.labelStyle
{
    font-size: large;
}