.tablesSection
{
   
    width: 40vw;
}

.borderTable1
{
    border-bottom: solid black 2px;
}

tbody>tr>td,thead>tr>th
{
    padding-left: 40px;
    padding-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(115, 141, 141);
}

tbody>tr:first-child>td:nth-child(2)
{
   color: rgb(127, 193, 255);
}

tbody>tr:nth-child(2)>td:nth-child(2)
{
    color: rgb(193, 196, 33);
}

tbody>tr:nth-child(3)>td:nth-child(2)
{
   color: rgb(193, 196, 33);
}


tbody>tr:nth-child(4)>td:nth-child(2)
{
   color: rgb(145, 255, 19);
}